__pycache__/
*.py[cod]
*.egg-info/
.python-version
.env
.venv/
.ruff_cache/
.pytest_cache/
.vscode/
.idea/
.DS_Store
coverage.xml
.coverage
build/
dist/
htmlcov/
.mypy_cache/
logs/
cache/
.eggs/
*.log
